{% extends 'base.html' %}

{% block content %}
    {% if g.user %}
        <ul class="sub_nav">
            <li class="sub_nav_item"><a href="{{ url_for('settings.add_customer') }}">Add customer</a></li>
            <li class="sub_nav_item"><a href="{{ url_for('settings.add_ip') }}">Add ip</a></li>
        </ul>
    <h1>{% block title %}Customers{% endblock %}</h1>
    {% if g.user %}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
        {% endif %}
      {% endwith %}
    {% endif %}

    <table class="grid">
      <tr class="item">
        <th>Id</th>
        <th>Name</th>
      </tr>
    {% for customer in customers %}
      <tr class="item">
        <td>{{ customer['id'] }}</td>
        <td>{{ customer['name'] }}</td>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}
{% endblock %}
