{% extends 'base.html' %}

{% if g.user %}
  {% block content %}
    <h1>{% block title %}Nodes{% endblock %}</h1>
    {% if g.user %}
      <a class="action" href="{{ url_for('node.scan') }}">Scan</a>
    {% endif %}

    <table class="grid">
      <tr class="item">
        <th>Created</th>
        <th>Last seen</th>
        <th>IP</th>
        <th>SSH</th>
        <th>Actions</th>
      </tr>
    {% for machine in machines %}
      <tr class="item">
        <td>{{ machine['created'].strftime('%Y/%m/%d %H:%M') }}</td>
        <td>{{ machine['last_seen'].strftime('%Y/%m/%d %H:%M') }}</td>
        <td>{{ machine['ip'] }}
          {% if request.url_rule.endpoint == "node.ping" %}
            {% if machine['ip'] == node_ip %}
              ({{ ping }}ms)
            {% endif %}
          {% endif %}
        </td>
        <td>{{ "on" if  (machine['port'] == '1') else "off" }}</td>
        <td>
          {% if g.user %}
            <a class="action" href="{{ url_for('node.scan_single', ip=machine['ip']) }}">Update</a>
            <a class="action" href="{{ url_for('node.ping', ip=machine['ip']) }}">Ping</a>
            <a class="action" href="{{ url_for('node.get_info', ip=machine['ip']) }}">Info</a>
          {% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
  {% endblock %}
{% endif %}

{% block ssh %}
  <div class="machine-grid-2">
    <div class="machine-ssh">
      <div id="terminal"></div>
      <script src="{{ url_for('static', filename='index.js') }}"></script>
    </div>
    <div class="machine-info">
      {{ machine['id'] }} INTEGER PRIMARY KEY AUTOINCREMENT, </br>
      {{ machine['lookup_id'] }} INTEGER NOT NULL,</br>
      {{ machine['created'] }} TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,</br>
      {{ machine['ip'] }} TEXT NOT NULL,</br>
      {{ machine['last_seen'] }} TIMESTAMP NOT NULL</br>
    </div>
  </div>
{% endblock %}