{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nodes{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('node.scan') }}">Scan</a>
  {% endif %}
{% endblock %}

  {% block content %}
<div class="grid">

  {% for machine in machines %}
    <article class="post">
      <header>
        <div>
          <h1>Looked up by: {{ g.user['username'] }}</h1>
          <div class="about">by {{ machine['lookup_id'] }}.</div>
          <div class="post">
            <div>Created: {{ machine['created'].strftime('%Y/%m/%d %H:%M') }}</div>
            <div>Last seen: {{ machine['last_seen'].strftime('%Y/%m/%d %H:%M') }}</div>
            <div>IP: {{ machine['ip'] }}</div>
            <div>SSH: {{ "on" if  (machine['port'] == '1') else "off" }}</div>
          </div>
          <div class="tests">
            {% if g.user %}
              <a class="action" href="{{ url_for('node.scan_single', ip=machine['ip']) }}">Update</a>
              <a class="action" href="{{ url_for('node.ping', ip=machine['ip']) }}">Ping</a>
            {% endif %}
          </div>

        </div>
      </header>
    </article>
  {% endfor %}
  </div>
{% endblock %}


