
.grid {
	display: grid;
	grid-template-columns: repeat(1, auto);
}

article.post {
	height: 30vh;
	background-color: grey;
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px;
}

.tests {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.action {
    width: max-content;
    color: #3100ff;
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: row;
}

.item > div {
    text-align: start;
    display: flex;
    border: 1px solid;
    width: 150px;
}

.item > div > .actions {
    margin: 5px;
}