body {
    margin: 0;
    font-family: monospace;
    font-size: 16px;
}

article.post {
	height: 30vh;
	background-color: grey;
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px;
}


.tests {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.action {
    width: max-content;
    color: #3100ff;
    font-weight: bold;
}

.grid {
	max-height: 50vh;
	overflow-y: scroll;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background: #7FFFD4;
}

tr:not(:last-child) {
    border-bottom: 1px solid #7aeec2;
}

.item > td > .actions {
    margin: 5px;
}

.nav_men {
  display: grid;
  grid-template-columns: 20% auto;
  background: #ff5e68;
  color: #ffffff;
}

.site_name {
    margin-left: 5px;
}

.nav_men_alignment {
  display: flex;
  list-style: none;
}

.align_start {
    justify-content: start;
}

.align_end {
    justify-content: end;
}

.grid_fill {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.nav_men_item {
  margin-right: 10px;
}

.nav_men_item > a {
  text-decoration: none;
  color: #ffffff;
}

.nav_men_item > a:hover {
    text-decoration: underline;
}

.username {
    text-decoration: underline;
    color: #000000;
}

/*
 Login
*/
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 18px -1px lightgrey;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form > label, #username, #password {
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    margin: 2px;
}

.login-form > input[type="submit"] {
    margin: 2px;
}

/*
    ssh
*/

.ssh {
    min-height: 50vh;
    width: 100vw;
    background: aliceblue;
}
