body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

article.post {
	height: 30vh;
	background-color: grey;
	border: 1px solid;
	margin: 5px;
	padding: 5px;
	box-shadow: 2px 2px 2px;
}


.tests {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.action {
    color: #3100ff;
    font-weight: bold;
    border: 1px solid lavender;
}

.scan {
    background-color:#b4e8d6;
    color: #000000;
    border-radius: 3px;
    border: 1px solid #7d948b;
    box-shadow: 2px 2px 2px #7d948b;
    margin: 10px 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    width: max-content;
    text-decoration: none;
}

.scan:hover {
    background-color: #b4e800;
}

.grid {
	max-height: 50vh;
	overflow: scroll;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 16px;
}

tr:nth-child(even) {
    background: #b4e8d6;
}

tr:not(:last-child) {
    border-bottom: 1px solid #7d948b;
}

.item > td > .actions {
    margin: 5px;
}

.nav_men {
  display: grid;
  grid-template-columns: 20% auto;
  background: #ff5e68;
  color: #ffffff;
}

.site_name {
    margin-left: 5px;
}

.nav_men_alignment {
  display: flex;
  list-style: none;
}

.align_start {
    justify-content: start;
}

.align_end {
    justify-content: end;
}

.grid_fill {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.nav_men_item {
  margin-right: 10px;
}

.nav_men_item > a {
  text-decoration: none;
  color: #ffffff;
}

.nav_men_item > a:hover {
    text-decoration: underline;
}

.username {
    text-decoration: underline;
    color: #000000;
}

/*
 Login
*/
.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 3px 3px 18px -1px lightgrey;
    padding: 10px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form > label, #username, #password {
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    margin: 2px;
}

.login-form > input[type="submit"] {
    margin: 2px;
}

/*
    ssh
*/

.ssh {
    min-height: 50vh;
    background: aliceblue;
}

.machine-grid-2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    padding: 10px;
}

/*
    Body
*/

.content {
    width: min(100% - 2rem);
    margin: auto;
}


/*
    Form
*/

.form {
    display: grid;
    width: max-content;
    margin: 10px 0;
}
.form > * {
    margin: 3px 0;
}


/*
    Settings
*/

.sub_nav {
    list-style: none;
    font-size: 24px;
    display: flex;
}

.sub_nav {
    width: max-content;
}

.sub_nav_item > a {
    color: #000000;
    text-decoration: none;
    border: 1px solid #000000;
    border-radius: 2px;
    background-color: #b4e8d6;
    box-shadow: 2px 2px 2px #7d948b;
    padding: 3px;
}
.sub_nav_item > a:hover { 
    background-color: #b4e800;
}