<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='node_modules/xterm/css/xterm.css') }}">
<script src="{{ url_for('static', filename='node_modules/xterm/lib/xterm.js')}}"></script>
<nav class="nav_men">
  <h1 class="site_name">Node Manager</h1>
  <ul class="nav_men_alignment align_end">
    {% if g.user %}
      <li class="nav_men_item username"><span>{{ g.user['username'] }}</span>
      <li class="nav_men_item" ><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      {% if request.url_rule.endpoint == "auth.login" %}
        <li class="nav_men_item"><a href="{{ url_for('auth.register') }}">Register</a>
      {% else %}
        <li class="nav_men_item"><a href="{{ url_for('auth.login') }}">Log In</a>
      {% endif %}
    {% endif %}
  </ul>
  {% if g.user %}
    <ul class="nav_men_alignment align_start grid_fill">
      <li class="nav_men_item"><a href="/">Home</a></li>
      <li class="nav_men_item"><a href="{{ url_for('settings.setup') }}">Settings</a></li>
    </ul>
  {% endif %}
</nav>
{% if 'user_id' in session %}
  <section class="content">
    {% block content %}
    {% endblock %}
  </section>
  {% if request.url_rule.endpoint == "node.get_info" %}
  <section class="ssh">
    {% block ssh %}
    {% endblock %}
  </section>
  {% endif %}
{% else %}
  {% block authentication %}
  {% endblock %}
{% endif %}
